*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

body{
margin: 0;
padding: 0;

/* background-image: url("./giphy.gif"); */
background-size: cover;
}

.navbar-brand{
    font-weight: 700;
}

.card:hover {
 background: linear-gradient(
        45deg,
       hsla(349, 94%, 58%, 0.34),
       hsla(349, 94%, 58%, 0.34) 100%
      );
    /* transform: scale(1.1); */
}

.nav-link{
    transition: all 0.2s;
    position: relative;
}

.nav-link:hover::after{
  content: '';
  height: 2px;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

#TotalConfirmed,
#Countries,
#Lastupdate,
#NewDeath,
#india{
    font-weight: bolder;
    font-size: 2rem;
}

#home,
#data{
    font-weight: bold;
}

#form{
    padding-top: 56px;
    border-color: #dc3545;    
}

#contact{
    font-weight: bolder;
    text-align: center;
    color: #dc3545;
    
}

#btnsubmitcontact{
  margin-top: 2%;
  margin-bottom: 3%;
}

.preloader-wrapper{
    background: url(./loading_round.gif)  no-repeat center center ;
    backdrop-filter: blur(12px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
}